{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'menu/css/index.css' %}">
</head>
<body>
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>

    <div class="container">
        <h1>Добро пожаловать!</h1>
        <div class="buttons">
            <a href="{% url 'learning' %}" class="btn btn-learning">Обучение</a>
            <a href="{% url 'testing' %}" class="btn btn-testing" style="display: none;">Тестирование</a>
        </div>
    </div>
</body>
</html>